<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <h3>About Us</h3>
        <p>Lintrix Group is dedicated to creating innovative solutions for
              modern challenges. Our latest project, GradeMate, is a
              cutting-edge Angular application designed to enhance
              educational experiences.</p>
      </div>
      <div class="footer-section">
        <h3>Contact</h3>
        <p>Email: lintrix671&#64;gmail.com</p>
        <p>Phone: +639672051419 </p>
      </div>
      <div class="footer-section">
        <h3>Follow Us</h3>
        <div class="social-links">
          <a href="https://github.com/PUP-BSIT/project-lintrix.git"
                  class="social-link">
              <i class="fab fa-github"></i> GitHub
            </a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 LINTRIX. All rights reserved.</p>
    </div>
  </div>
</footer>