button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}
  
button[disabled] {
    background-color: #ccc;
}
  
.left {
    width: 50%;
    background: #FFFFFF;
    padding: 40px;
    box-sizing: border-box;
}
  
.right {
    width: 50%;
    background-image: linear-gradient(180deg, rgb(17, 99, 239), rgb(11, 195, 152));
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
  
.left h2 {
    margin-top: 50px;
    margin-bottom: 30px;
    color: #000000;
    text-align: center;
}
  
.left input[type="birthday"],
.left input[type="sex"] {
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 0;
    box-sizing: border-box;
    background-color: #f2f2f2;
}
  
.left .forgot-password {
    display: block;
    text-align: right;
    color: #000000;
    text-decoration: underline;
    margin: 10px 0;
    text-align: center; 
}
  
.left button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 0;
    background: #0097B2;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}
  
.right h2 {
    margin: 0;
    margin-bottom: 30px;
}
  
.right button {
    padding: 5px 20px;
    border: 2px solid #FFFFFF;
    border-radius: 0;
    background: none;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
}
  