<div class="about-us">
  <h1>About Us</h1>
  <p>Lintrix Group is dedicated to creating innovative solutions for modern 
      challenges.</p>
  <p> Our latest project, GradeMate, is a cutting-edge 
  Angular application designed to enhance educational 
       experiences.</p>
  <div class="team-section">
      <div class="team-member">
          <img src="assets/alima.jpg" alt="Project Manager">
          <h3>Kaila Marie Alima</h3>
          <p>Project Manager</p>
          <div class="social-icons">
              <a href="https://www.facebook.com/kailamarie.alima"><i 
                class="fab fa-facebook-f"></i></a>
              <a href="https://github.com/alima-kailamarie"><i
                 class="fab fa-github"></i></a>
              <a href="https://www.instagram.com/iam_kaiyieee"><i 
                class="fab fa-instagram"></i></a>
          </div>
      </div>
      <div class="team-member">
          <img src="assets/ed.jpg" alt="Technical Lead">
          <h3>Ed Judah Mingo</h3>
          <p>Technical Lead</p>
          <div class="social-icons">
              <a href="https://www.facebook.com/edjudah.mingo"><i 
                class="fab fa-facebook-f"></i></a>
              <a href="https://github.com/mingoedjudah"><i 
                class="fab fa-github"></i></a>
              <a href="https://www.instagram.com/edjud_ah/"><i
                 class="fab fa-instagram"></i></a>
          </div>
      </div>
      <div class="team-member">
          <img src="assets/diana.jpg" alt="Quality Assurance/Tester">
          <h3>Diana Rose Fidel</h3>
          <p>Tester</p>
          <div class="social-icons">
              <a href=
              "https://www.facebook.com/profile.php?id=100069774692859">
                <i class="fab fa-facebook-f"></i></a>
              <a href="https://github.com/fidel-dianarose"><i 
                class="fab fa-github"></i></a>
              <a href="https://www.instagram.com/dnrsfdl/"><i 
                class="fab fa-instagram"></i></a>
          </div>
      </div>
      <div class="team-member">
          <img src="assets/kazel.jpg" alt="UI/UX Designer">
          <h3>Kazel Villamarzo</h3>
          <p>UI/UX Designer</p>
          <div class="social-icons">
              <a href="https://www.facebook.com/kazel.villamarzo"><i 
                class="fab fa-facebook-f"></i></a>
              <a href="https://github.com/Villamarzo-Kazel"><i 
                class="fab fa-github"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
      </div>
      <div class="team-member">
          <img src="assets/sim.jpg" alt="UI/UX Designer">
          <h3>Simounne Cruz</h3>
          <p>UI/UX Designer</p>
          <div class="social-icons">
              <a href="https://www.facebook.com/chimoniii.548"><i 
                class="fab fa-facebook-f"></i></a>
              <a href="https://github.com/Cruz-Simounne"><i 
                class="fab fa-github"></i></a>
              <a href="https://www.instagram.com/infinityyy548/"><i 
                class="fab fa-instagram"></i></a>
          </div>
      </div>
  </div>
</div>
