header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #e5fdf9;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  animation: slideDown 0.5s ease-in-out;
}
  
.logo {
  width: 180px;
}

.logo img {
  max-width: 100%;
  height: auto;
}
  
nav a {
  color: black;
  text-decoration: none;
  margin: 0 25px;
  position: relative;
  transition: color 0.3s ease-in-out;
}
  
nav a:not(.login-link):not(.signup-link)::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 0;
}
  
nav a:not(.login-link):not(.signup-link):hover::after {
  width: 100%;
}
  
nav a:hover {
  color: black; /* Keep the text color black on hover */
}
  
nav a.active-link:not(.login-link):not(.signup-link)::after {
  width: 100%;
}
  
nav a.login-link {
  padding: 5px 15px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
  
nav a.login-link:hover {
  color: #28783b;
  background-color: #1e833631;
}
  
nav a.signup-link {
  color: #28783b;
  border: 2px solid #3d9251;
  padding: 5px 10px;
  border-radius: 5px;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
  
nav a.signup-link:hover {
  color: #ffffff;
  background-color: #1e8335;
}
  
nav {
  margin-right: 30px;
}
  
@keyframes slideDown {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}