<div class="home">
  <h1>Welcome to the GradeMate!!</h1>
  <p>Track your grades and progress with ease.</p>

  <div class="features">
    <div class="feature">
      <h2>Manage Grades</h2>
      <p>Keep track of your grades across all subjects and assignments.</p>
    </div>
    <div class="feature">
      <h2>Grade Entry</h2>
      <p>Effortlessly enter and track grades with our user-friendly interface.</p>
    </div>
    <div class="feature">
      <h2>Account</h2>
      <p>Manage your preferences with ease.</p>
    </div>
  </div>

  <button class="cta-button" routerLink="/login">Get Started</button>
</div>